* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
}

body {

    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1920px;
    height: 1080px;
    overflow: hidden;
}

#ground-background {
    left: 0;
    position: absolute;
    background-image: url('./assets/ground2.jpg');
    background-size: cover;
    width: 100%;
    height: 20vh;
    bottom: 0;
}


#game-background {
    position: absolute;
    background: rgb(213, 64, 34);
    background: linear-gradient(180deg, rgba(213, 64, 34, 1) 0%, rgba(232, 201, 154, 1) 65%);
    background-image: url('./assets/buildings2.png');
    background-size: cover;
    height: 60vh;
    bottom: 20vh;
    left: 0;
    width: 100%;
    opacity: 80%;
    z-index: -1;

}

#game-background2 {
    position: absolute;
    background: rgb(213, 64, 34);
    background: linear-gradient(180deg, rgba(213, 64, 34, 1) 0%, rgba(232, 201, 154, 1) 65%);
    height: 60vh;
    bottom: 20vh;
    left: 0;
    width: 100%;
    opacity: 80%;
    z-index: -2;

}

#menu {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    flex-direction: column;
    margin-top: 100px;
}


h1 {
    font-size: 10vmin;
    color: #EEEEEE;
}

h2 {
    font-size: 5vmin;
    color: #EEEEEE;
}

#menu a {
    margin-top: 20px;
    color: #EEEEEE;
    padding: 10px 30px;
    font-size: 20px;
    background-color: #b53c00;
    border-radius: 5px;
}

#menu a:hover {
    background-color: #ff5e00;
    color: #868686;
    transition: 0.4s;
}

#menu p {
    width: 50%;
    font-size: 1.5vmin;
    color: #EEEEEE;
    text-align: center;
}